<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Usuários do GitHub</title>
</head>
<body>
    <div id="app">
        <div v-if="showSearch" class="search">
            <input v-model="username" placeholder="Digite um nome de usuário">
            <button @click="fetchUser">Buscar</button>
        </div>
        <div v-else>
            <div class="nav">
                <p :class="{ selected: view === 'repos' }" @click="viewRepos">
                    <i class="fa fa-book"></i> Repositórios <span>{{ repoCount }}</span>
                </p>
            </div>
        <div class="profile-container">
            <div class="profile-image">
                <img :src="user.avatar_url" alt="Avatar do Usuário" width="100">
            </div>
            <div class="profile-info">
                <h2>{{ user.name }}</h2>
                <p>{{ user.bio }}</p>
            </div>
            <div class="search input-container">
                <input v-model="filter" placeholder="Filtrar por nome">
            </div>
            <div v-for="repo in filteredRepos" :key="repo.id" id="repo">
                <h3><a :href="repo.html_url" target="_blank">{{ repo.name }}</a></h3>
                <p>{{ repo.description }}</p>
                <p><i class="fa fa-code"></i> {{ repo.language }}</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
