<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Usuários do GitHub</title>
    <link rel="shortcut icon" href="img/giticon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> <!-- fontawesome p/ icones -->
</head>
<body>
    <header>
        <div id="top" class="header-container">
            <img src="img/giticon.png" alt="GitHub Logo">
            <h1>GitHub Profiles</h1>
        </div>
    </header>

    <div id="app"> <!-- VUE 3 -->
        <div v-if="showSearch" class="search">
            <div class="input-container">
                <input v-model="username" @keyup.enter="fetchUser" placeholder="Digite um nome de usuário">
                <button id="search-button" @click="fetchUser">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div v-else>
            <div class="nav">
                <p :class="{ selected: view === 'repos' }" @click="viewRepos">
                    <i class="fa fa-book"></i> Repositórios <span>{{ repoCount }}</span>
                </p>
                <p :class="{ selected: view === 'starred' }" @click="viewStarred">
                    <i class="fa fa-star"></i> Stars <span>{{ starredCount }}</span>
                </p>
                <button @click="reset"><i class="fa-solid fa-rotate-right"></i>CHANGE USERNAME</button>
            </div>
        <div class="profile-container">
            <div class="profile">
                <div class="profile-image">
                    <img :src="user.avatar_url" alt="Avatar do Usuário" width="100">
                </div>
                <div class="profile-info">
                    <h2>{{ user.name }}</h2>
                    <p>{{ user.bio }}</p>
                </div>
            </div>
        </div>
            <div class="search input-container">
                <input v-model="filter" placeholder="Filtrar por nome">
            </div>
            <div v-for="repo in filteredRepos" :key="repo.id" id="repo">
                <h3><a :href="repo.html_url" target="_blank">{{ repo.name }}</a></h3>
                <p>{{ repo.description }}</p>
                <p><i class="fa fa-code"></i> {{ repo.language }}</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
