body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    text-align: center;
}

header {
    background-color: #5c646d;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search {
    margin: 20px;
}

.search button {
    border: none;
    margin-left: -10px;
    margin-bottom: -38px;
    font-size: 1.2rem;
    color: #4F4A45;
}

.input-container {
    position: relative;
}

.input-container input {
    padding: 10px 30px 10px 10px;
    width: 16rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}

.nav {
    margin: 20px auto;
}

.nav p {
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
}

.nav p.selected {
    color: rgb(48, 48, 48);
    border-bottom: 2px solid orange;
}

.nav p:hover {
    color: rgb(224, 146, 0);
    border-bottom: 2px solid orange;
}

.nav p span {
    padding: 2px;
}

.nav button:hover {
    color: orange;
}

.nav button i {
    margin-right: 5px;
}

.nav button {
    color: #5c646d;
    border: solid;
    border-width: 1px;
    border-radius: 7px 7px;
    font-size: 10px;
    cursor: pointer;
}

.profile-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-image img {
    border-radius: 50%;
    border: 2px solid #b0bbc9;
}

#repo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#repo a:hover {
    text-decoration: underline;
}

.nav p span {
    display: inline-block;
    background-color: #5c646d;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    margin-left: 5px;
}

.nav p.selected span {
    background-color: orange;
}

.nav p i {
    margin-right: 5px;
}
